<!DOCTYPE html>
{% extends "sistema/layout-sistema.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    {% block content %}
    <div class="">
        <div class="content-wrapper">
            
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid" style="padding: 0px 20px;">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6" style="padding: 10px;">
                            <!-- small box -->
                            <div class="card cartas bg-info" style="padding: 5px;">
                                <div class="inner">
                                    <h3>{{ventas}}<sup style="font-size: 20px">$</sup></h3>
                                    <p>Ventas por dia</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <a href="/ajuste" class="card-footer">
                                    Ver mas <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <br>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6" style="padding: 10px;">
                            <!-- small box -->
                            <div class="card cartas bg-success" style="padding: 5px;">
                                <div class="inner">
                                    <h3>{{cons}}</h3>

                                    <p>Consultas Pendientes</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-md"></i>
                                </div>
                                <a href="/consulta" class="card-footer">Ver mas <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <br>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6" style="padding: 10px;">
                            <!-- small box -->
                            <div class="card cartas bg-warning" style="padding: 5px;">
                                <div class="inner">
                                    <h3>{{usuarios}}</h3>

                                    <p>Usuarios Registrados</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                {%if rol == "Administrador"%}
                                <a href="/usuario" class="card-footer">Ver mas <i
                                        class="fas fa-arrow-circle-right"></i></a>
                                {%else%}
                                <a href="#" class="card-footer">Ver mas <i class="fas fa-arrow-circle-right"></i></a>
                                {%endif%}
                            </div>
                        </div>
                        <br>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6" style="padding: 10px;">
                            <!-- small box -->
                            <div class="card cartas bg-danger" style="padding: 5px;">
                                <div class="inner">
                                    <h3>{{empleados}}</h3>

                                    <p>Empleados Activos</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-clock"></i>
                                </div>
                                {%if rol == "Administrador"%}
                                <a href="/usuario" class="card-footer">Ver mas <i
                                        class="fas fa-arrow-circle-right"></i></a>
                                {%else%}
                                <a href="#" class="card-footer">Ver mas <i class="fas fa-arrow-circle-right"></i></a>
                                {%endif%}
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <br>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-7 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-chart-pie mr-1"></i>
                                        Ventas
                                    </h3>
                                    <div class="card-tools">

                                    </div>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content p-0">
                                        <!-- Morris chart - Sales -->
                                        <div class="chart tab-pane active" id="revenue-chart"
                                            style="position: relative; height: 300px; margin-bottom: 10px;">
                                            <canvas id="revenue-chart-canvas" height="4" width="10"></canvas>
                                        </div>
                                    </div>
                                </div><!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                        </section>
                        <!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <section class="col-lg-5 connectedSortable">

                            <!-- Map card -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header" style="display: flex; justify-content: space-between;">
                                            <h3 class="card-title">
                                                <i class="fas fa-chart-pie mr-1"></i>
                                                Clientes
                                            </h3>
                                            <div class="card-tools">
                                                <div class="input-group input-group-sm" style="width: 150px; ">
                                                    <!-- <input type="text" name="table_search"
                                                        class="form-control float-right" placeholder="Search">

                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body table-responsive p-0" style="height: 340px; width: 100%;">
                                            <table class="table table-hover text-nowrap" id="deta">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Cliente</th>
                                                        <th>Mascota</th>
                                                        <th>N° Counsultas</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for i in clientes%}
                                                    <tr>
                                                        <td>{{i.Id_Usuario}}</td>
                                                        <td>{{i.cliente}}</td>
                                                        <td>{{i.Mascota}}</td>
                                                        <td style="text-align: end;">

                                                            <button name="act1" id="act1"
                                                                style="border: none; background: none" value="185"><i
                                                                    class="fas fa-solid fa-calendar-day"></i></button>
                                                        </td>
                                                    </tr>
                                                    {%endfor%}


                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <!-- /.card -->


                        </section>

                        <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <div id="cont"></div>
    <div id="mi-info"></div>
    <input type="hidden" id="dale2" data-toggle="modal" data-target="#exampleModal" />
    <input type="hidden" id="dale3" data-toggle="modal" data-target="#exampleModal1" />
    <input type="text" id="mesuno" value="{{ventasmesuno}}">
    <input type="text" id="mesdos" value="{{ventasmesdos}}">
    <input type="text" id="mesactual" value="{{ventas}}">
    <script>
        function Info() {
            $.ajax({
                url: "/miinfo",
                type: "POST",
                data: {
                },
                success: function (response) {
                    $('#mi-info').html(response);
                    $('#mi-info').append(response.htmlresponse);
                    $("#dale3").click();


                },
                error: function (error) {
                    //console.log(error);
                },
            });
        }
        var mes1 = $('#mesuno').val();
        var mes2 = $('#mesdos').val();
        var mes3 = $('#mesactual').val();
        const ctx = document.getElementById('revenue-chart-canvas').getContext('2d');
        var xValues = [5, 15, 25];
        var yValues = [mes1, mes2, mes3];

        var myChart = new Chart("revenue-chart-canvas", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: "",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: yValues
                }]
            },
            options: {}
        });
        $("#deta button[name=act1]").click(function () {
            id = $(this).val();
            $.ajax({
                url: "/clienteinfo",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (response) {
                    $('#cont').html(response);
                    $('#cont').append(response.htmlresponse);
                    $("#dale2").click();


                },
                error: function (error) {
                    //console.log(error);
                },
            });

        });
    </script>
    <script>

    </script>

    {%endblock%}
</body>


</html>