<!DOCTYPE html>
{% extends "sistema/layout-sistema.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
</head>

<body>

    {% block content %}
    <div class="top-bar"><i class="fas fa-bars menu"></i><label class="titulo-logo">Buen Productor > Facturación</label>
    </div>

    <div class="d-flex" style="padding: 20px; padding-left: 50px; width: 100vw;">
        <div class="container bg-dark" style="color: white; border-radius: 20px;">
            <div class="row">
                <div class="col-7 overflow-auto" style="height: 87vh;">
                   
                    
                    <div class="row mb-4">
                        <input type="hidden" name="id">
                        <div class="col mt-2">
    
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Cliente</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword"
                                        placeholder="Nombres">
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                    <div class="row mb-4">
                        <input type="hidden" name="id">
                        <div class="col">
    
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Producto</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword"
                                        placeholder="Nombre Producto">
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword"
                                        placeholder="Descuento">
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Forma de pago</label>
                                <div class="col">
                                    <select class="form-select" name="rol">
                                        <option value="1">Tarjeta</option>
                                        <option value="2">Efectivo</option>
                                    </select>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Descuento</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword"
                                        placeholder="Cantidad">
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="row mb-4">
                        <input type="hidden" name="id">
                        <div class="col">
    
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">No Receta</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword"
                                        placeholder="No Receta">
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                    <div class="row mb-4 d-flex justify-content-center">
                        <input type="hidden" name="id">
                        <div class="col mt-4 text-center">
                            <button type="button" class="btn btn-outline-success btn-lg">Agregar</button>
                            
    
                        </div>
                        <div class="col mt-4 text-center">
                            <button type="button" class="btn btn-outline-warning btn-lg">Imprimir</button>
                            
    
                        </div>
                        <div class="col mt-4 text-center">
                            <button type="button" class="btn btn-outline-info btn-lg">Consulta</button>
                            
    
                        </div>
                        
    
                    </div>
                    <div class="row p-2">
                        <div class="col-12" style="padding: 10px 10px 0 10px; background-color: rgb(180, 180, 180); border-radius: 5px;">
                            <!-- small box -->
                            <div class="cards" style="padding: 5px; height: 100%;">
                                <div class="inner" style="color: black;">
                                    <h3>TOTAL</h3>
    
                                </div>
                                <div style=" text-align: end;">
                                    <h2 style="font-size: 70px; color: rgb(71, 71, 71);" id="total1">0 C$</h2>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-5" style="border: 1px solid white; background-color: rgb(236, 236, 236); padding-left: 5px;">
                    <table class="table">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Producto 1</td>
                            <td>5</td>
                            <td>200</td>
                            <td><i class="fas fa-trash" style="color: #b42c1d;"></i></td>
                          </tr>
                          <tr>
                            <td>Producto 2</td>
                            <td>3</td>
                            <td>300</td>
                            <td><i class="fas fa-trash" style="color: #b42c1d;"></i></td>
                          </tr>
                          <tr>
                            <td>Producto 3</td>
                            <td>2</td>
                            <td>500</td>
                            <td><i class="fas fa-trash" style="color: #b42c1d;"></i></td>
                          </tr>
                        </tbody>
                      </table>
                      
                     
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="0" id="monto">
    <input type="hidden" value="" id="venta">

    <div id="contenermodal"> </div>
    <div id="pdf"></div>
    <script>
        var consulta = 0
        var flaglista = false;
        $.ajax({
            url: "/idventa",
            type: "POST",
            data: {

            },
            success: function (response) {

                $('#venta').val(response);
            },
            error: function (error) {
                //console.log(error);
            },
        });
        var flag = false;
        function addconsul() {
            if (flag) {
                $('#monto').val(parseInt($('#monto').val()) - 50);

                $('#total1').text($('#monto').val() + " C$");
                flag = false
                consulta = 0
                $.ajax({
                    url: "/quitarcons",
                    type: "POST",
                    data: {
                        idventa: $('#venta').val()
                    },
                    success: function (response) {

                    },
                    error: function (error) {
                        //console.log(error);
                    },
                });


            } else {
                $('#monto').val(parseInt($('#monto').val()) + 50);

                $('#total1').text($('#monto').val() + " C$");
                flag = true
                consulta = 50
                $.ajax({
                    url: "/añadircons",
                    type: "POST",
                    data: {
                        idventa: $('#venta').val()
                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Consulta Añadida!',
                            text: 'Gracias por preferirnos!!!',
                            icon: 'success',
                            confirmButtonText: "Aceptar",
                        }).then(() => {


                        });
                    },
                    error: function (error) {
                        //console.log(error);
                    },
                });
            }

        }

        function buscarReceta(id) {

            $.ajax({
                url: "/buscar",
                type: "POST",
                data: {
                    receta: id,
                    flag: "receta"

                },
                success: function (response) {
                    if (response != "no") {
                        flaglista = true
                        $('#tabla').html(response);
                        $('#tabla').append(response.htmlresponse);
                        $('#monto').val(parseInt($('#total').val()));
                        $('.fact-rap').hide();
                        flaglista = true
                        $('#idreceta').attr('readonly', true);
                        $('#total1').text($('#monto').val() + " C$");
                        $("#fact button[name=edit]").click(function () {
                            id = $(this).val();
                            Swal
                                .fire({
                                    title: "Ingrese La cantidad de " + id,
                                    input: "text",
                                    showCancelButton: true,
                                    confirmButtonText: "Guardar",
                                    cancelButtonText: "Cancelar",
                                })
                                .then(resultado => {
                                    if (resultado.value) {
                                        let diag = resultado.value;
                                        id = $(this).val();
                                        $.ajax({
                                            url: "/cantidad",
                                            type: "POST",
                                            data: {
                                                id: id,
                                                receta: $('#idreceta').val(),
                                                // diagnostico: $('#diagnostico').val(),
                                                // receta: $('#receta').val(),
                                                cant: diag
                                            },
                                            success: function (response) {
                                                if (response == "NoStock") {
                                                    Swal.fire({
                                                        title: 'No disponemos esa cantidad en Stock!',
                                                        text: 'Debe ingresar una cantidad inferior!!!',
                                                        icon: 'error',
                                                        confirmButtonText: "Aceptar",
                                                    }).then(() => {
                                                        buscarReceta($('#idreceta').val());
                                                    });
                                                } else {
                                                    Swal.fire({
                                                        title: 'Cantidad Actualizada!',
                                                        text: 'Gracias por preferirnos!!!',
                                                        icon: 'success',
                                                        confirmButtonText: "Aceptar",
                                                    }).then(() => {
                                                        setTimeout(() => {
                                                            $('#tabla').html(response);
                                                            $('#tabla').append(response.htmlresponse);
                                                            $('#monto').val(parseInt($('#total').val()));

                                                            $('#total1').text($('#monto').val() + " C$");
                                                            buscarReceta($('#idreceta').val());
                                                        }, 200);

                                                    });
                                                }

                                            },
                                            error: function (error) {
                                                //console.log(error);
                                            },
                                        });
                                    }
                                });
                        });

                        $("#fact button[name=delete]").click(function () {
                            id = $(this).val();
                            $.ajax({
                                url: "/eliminar",
                                type: "POST",
                                data: {
                                    id: id,
                                    flag: "fact",
                                    receta: $('#idreceta').val()
                                },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Producto Eliminado!',
                                        text: 'Gracias por preferirnos!!!',
                                        icon: 'success',
                                        confirmButtonText: "Aceptar",
                                    }).then(() => {
                                        setTimeout(() => {

                                            $('#tabla').html(response);
                                            $('#tabla').append(response.htmlresponse);
                                            $('#monto').val(parseInt($('#total').val()) - parseInt($('#monto').val()));
                                            $('#total1').text($('#monto').val() + " C$");
                                            buscarReceta($('#idreceta').val());
                                        }, 200);

                                    });
                                },
                                error: function (error) {
                                    //console.log(error);
                                },
                            });
                        });

                    } else {
                        flaglista = false
                        $('.fact-rap').show();
                    }

                },
                error: function (error) {
                    //console.log(error);
                },
            });

        }

        $("#idreceta").keyup(function () {

            buscarReceta($('#idreceta').val());
        });
        //////  FACTURA RAPIDA  ///////////////////
        function buscarproducto(id) {
            if (id == "") {
                $("#fact button[name=delete]").click(function () {
                    $('#listaproducto').empty();
                    id = $(this).val();
                    $.ajax({
                        url: "/eliminar",
                        type: "POST",
                        data: {
                            id: id,
                            flag: "fact-rapida",
                            idventa: $('#venta').val()
                        },
                        success: function (response) {
                            Swal.fire({
                                title: 'Producto Eliminado!',
                                text: 'Gracias por preferirnos!!!',
                                icon: 'success',
                                confirmButtonText: "Aceptar",
                            }).then(() => {
                                setTimeout(() => {
                                    $('#tabla').html(response);
                                    $('#tabla').append(response.htmlresponse);
                                    if ($('#total2').val() == "None") {
                                        $('#monto').val("0");
                                        flaglista = false
                                        $('#total1').text($('#monto').val() + " C$");
                                    } else {
                                        $('#monto').val(parseInt($('#total2').val()));
                                        $('#total1').text($('#monto').val() + " C$");
                                    }

                                    $('#buscprod').val('')
                                    buscarproducto($('#buscprod').val());
                                }, 200);

                            });
                        },
                        error: function (error) {
                            //console.log(error);
                        },
                    });
                });

                $("#fact button[name=edit]").click(function () {
                    $('#listaproducto').empty();
                    id = $(this).val();
                    Swal
                        .fire({
                            title: "Ingrese La cantidad de " + id,
                            input: "text",
                            showCancelButton: true,
                            confirmButtonText: "Guardar",
                            cancelButtonText: "Cancelar",
                        })
                        .then(resultado => {

                            if (resultado.value != "") {

                                let diag1 = resultado.value;
                                id = $(this).val();
                                $.ajax({
                                    url: "/cantidad1",
                                    type: "POST",
                                    data: {
                                        id: id,
                                        idventa: $('#venta').val(),
                                        // diagnostico: $('#diagnostico').val(),
                                        // receta: $('#receta').val(),
                                        cant: diag1
                                    },
                                    success: function (response) {
                                        if (response == "NoStock") {
                                            Swal.fire({
                                                title: 'No disponemos esa cantidad en Stock!',
                                                text: 'Debe ingresar una cantidad inferior!!!',
                                                icon: 'error',
                                                confirmButtonText: "Aceptar",
                                            }).then(() => {
                                                buscarproducto($('#buscprod').val());
                                            });
                                        } else {
                                            Swal.fire({
                                                title: 'Cantidad Actualizada!',
                                                text: 'Gracias por preferirnos!!!',
                                                icon: 'success',
                                                confirmButtonText: "Aceptar",
                                            }).then(() => {
                                                setTimeout(() => {
                                                    $('#tabla').html(response);
                                                    $('#tabla').append(response.htmlresponse);
                                                    $('#monto').val(parseInt($('#total2').val()));
                                                    flaglista = true
                                                    $('#listaproducto').empty();
                                                    $('#total1').text($('#monto').val() + " C$");
                                                    $('#buscprod').val('')
                                                    buscarproducto($('#buscprod').val());


                                                }, 200);

                                            });
                                        }
                                    },
                                    error: function (error) {
                                        //console.log(error);
                                    },
                                });
                            }
                        });
                });

            } else {


                $.ajax({
                    url: "/buscar",
                    type: "POST",
                    data: {
                        producto: id,
                        flag: "producto"

                    },
                    success: function (response) {
                        if (response == "No") {
                            $('#listaproducto').empty();
                            Swal.fire({
                                title: 'Producto no encontrado!',
                                text: 'Busque otro producto!!!',
                                icon: 'error',
                                confirmButtonText: "Aceptar",
                            }).then(() => {
                                $('#listaproducto').empty();
                            });
                        } else {
                            $('.sin-rec').hide();
                            $('#listaproducto').html(response);
                            $('#listaproducto').append(response.htmlresponse);
                            $('#listaproducto').show();
                            $("#fact button[name=edit]").click(function () {
                                $('#listaproducto').empty();
                                id = $(this).val();
                                Swal
                                    .fire({
                                        title: "Ingrese La cantidad de " + id,
                                        input: "text",
                                        showCancelButton: true,
                                        confirmButtonText: "Guardar",
                                        cancelButtonText: "Cancelar",
                                    })
                                    .then(resultado => {

                                        if (resultado.value != "") {

                                            let diag1 = resultado.value;
                                            id = $(this).val();
                                            $.ajax({
                                                url: "/cantidad1",
                                                type: "POST",
                                                data: {
                                                    id: id,
                                                    idventa: $('#venta').val(),
                                                    // diagnostico: $('#diagnostico').val(),
                                                    // receta: $('#receta').val(),
                                                    cant: diag1
                                                },
                                                success: function (response) {
                                                    Swal.fire({
                                                        title: 'Cantidad Actualizada!',
                                                        text: 'Gracias por preferirnos!!!',
                                                        icon: 'success',
                                                        confirmButtonText: "Aceptar",
                                                    }).then(() => {
                                                        setTimeout(() => {
                                                            $('#tabla').html(response);
                                                            $('#tabla').append(response.htmlresponse);
                                                            $('#monto').val(parseInt($('#total2').val()));
                                                            flaglista = true
                                                            $('#listaproducto').empty();
                                                            $('#total1').text($('#monto').val() + " C$");
                                                            $('#buscprod').val('')
                                                            buscarproducto($('#buscprod').val());


                                                        }, 200);

                                                    });
                                                },
                                                error: function (error) {
                                                    //console.log(error);
                                                },
                                            });
                                        }
                                    });
                            });

                            $("#fact button[name=delete]").click(function () {
                                $('#listaproducto').empty();
                                id = $(this).val();
                                $.ajax({
                                    url: "/eliminar",
                                    type: "POST",
                                    data: {
                                        id: id,
                                        flag: "fact-rapida",
                                        idventa: $('#venta').val()
                                    },
                                    success: function (response) {
                                        Swal.fire({
                                            title: 'Producto Eliminado!',
                                            text: 'Gracias por preferirnos!!!',
                                            icon: 'success',
                                            confirmButtonText: "Aceptar",
                                        }).then(() => {
                                            setTimeout(() => {
                                                $('#tabla').html(response);
                                                $('#tabla').append(response.htmlresponse);
                                                if ($('#total2').val() == "None") {
                                                    $('#monto').val("0");
                                                    flaglista = false
                                                    $('#total1').text($('#monto').val() + " C$");
                                                } else {
                                                    $('#monto').val(parseInt($('#total2').val()));
                                                    $('#total1').text($('#monto').val() + " C$");
                                                }

                                                $('#buscprod').val('')
                                                buscarproducto($('#buscprod').val());
                                            }, 200);

                                        });
                                    },
                                    error: function (error) {
                                        //console.log(error);
                                    },
                                });
                            });

                            $("#busqueda button[name=det]").click(function () {
                                if ($('#cant').val() == "") {
                                    Swal.fire({
                                        title: 'Cantidad no encontrada!',
                                        text: 'Debe ingresar una cantidad!!!',
                                        icon: 'error',
                                        confirmButtonText: "Aceptar",
                                    }).then(() => {
                                    });
                                } else {

                                    id = $(this).val();
                                    $.ajax({
                                        url: "/insertarVenta",
                                        type: "POST",
                                        data: {
                                            prod: id,
                                            idventa: $('#venta').val(),
                                            cant: $('#cant').val(),
                                            cons: consulta

                                        },
                                        success: function (response) {
                                            if (response == "NoStock") {
                                                Swal.fire({
                                                    title: 'No disponemos esa cantidad en Stock!',
                                                    text: 'Debe ingresar una cantidad inferior!!!',
                                                    icon: 'error',
                                                    confirmButtonText: "Aceptar",
                                                }).then(() => {
                                                    buscarproducto($('#buscprod').val());
                                                });
                                            } else {
                                                flaglista = true
                                                $('#tabla').html(response);
                                                $('#tabla').append(response.htmlresponse);
                                                $('#listaproducto').empty();
                                                $('#monto').val(parseInt($('#total2').val()));
                                                $('#total1').text($('#monto').val() + " C$");
                                                $('#buscprod').val('')
                                                buscarproducto($('#buscprod').val());
                                            }



                                        },
                                        error: function (error) {
                                            //console.log(error);
                                        },
                                    });

                                }

                            });


                        }


                    },
                    error: function (error) {
                        //console.log(error);
                    },
                });
            }
        }
        $("#buscprod").keyup(function () {
            buscarproducto($('#buscprod').val());
        });

        function pay() {

            if ($('#idreceta').val() == "") {
                if (flaglista == true && $('#cliente').val() != "") {
                    //quiere decir que es factura rapida
                    $.ajax({
                        url: "/generarpdf",
                        type: "POST",
                        data: {
                            flag: "rapida",
                            idventa: $('#venta').val()
                        },
                        success: function (response) {
                            $('#pdf').html(response);
                            $('#pdf').append(response.htmlresponse);
                            // Escuchamos el click del botón
                            elementoParaConvertir = document.querySelector(".div-verpdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
                            elementoParaConvertir.style.display = 'block'
                            html2pdf()
                                .set({
                                    margin: 0.5,
                                    filename: 'Factura.pdf',
                                    image: {
                                        type: 'jpeg',
                                        quality: 0.98
                                    },
                                    html2canvas: {
                                        scale: 3, // A mayor escala, mejores gráficos, pero más peso
                                        letterRendering: true,
                                    },
                                    jsPDF: {
                                        unit: "in",
                                        format: "letter",
                                        orientation: 'portrait' // landscape o portrait
                                    }
                                })

                                .from(elementoParaConvertir)
                                .save()
                            setTimeout(() => {
                                elementoParaConvertir.style.display = 'none'
                                Swal.fire(
                                    'Factura Impresa!',
                                    '',
                                    'success'
                                )
                                window.location = '/facturacion'
                            }, 1000)
                        },
                        error: function (error) {
                            //console.log(error);
                        },
                    });

                } else {
                    Swal.fire({
                        title: 'Datos Faltantes!',
                        text: 'Rellene los campos faltantes!!!',
                        icon: 'error',
                        confirmButtonText: "Aceptar",
                    }).then(() => {
                    });
                }
            } else {
                if (flaglista == true && $('#idreceta').val() != "") {
                    var id = $('#idreceta').val();
                    //quiere decir que es factura rapida
                    $.ajax({
                        url: "/generarpdf",
                        type: "POST",
                        data: {
                            id: id,
                            flag: "receta",
                            idventa: $('#venta').val()
                        },
                        success: function (response) {
                            $('#pdf').html(response);
                            $('#pdf').append(response.htmlresponse);
                            // Escuchamos el click del botón
                            elementoParaConvertir = document.querySelector(".div-verpdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
                            elementoParaConvertir.style.display = 'block'
                            html2pdf()
                                .set({
                                    margin: 0.5,
                                    filename: 'documento.pdf',
                                    image: {
                                        type: 'jpeg',
                                        quality: 0.98
                                    },
                                    html2canvas: {
                                        scale: 3, // A mayor escala, mejores gráficos, pero más peso
                                        letterRendering: true,
                                    },
                                    jsPDF: {
                                        unit: "in",
                                        format: "letter",
                                        orientation: 'portrait' // landscape o portrait
                                    }
                                })

                                .from(elementoParaConvertir)
                                .save()
                            setTimeout(() => {
                                elementoParaConvertir.style.display = 'none'
                                Swal.fire(
                                    'Good job!',
                                    'You clicked the button!',
                                    'success'
                                )
                                window.location = '/facturacion'
                            }, 1000)

                        },
                        error: function (error) {
                            //console.log(error);
                        },
                    });
                } else {
                    Swal.fire({
                        title: 'Datos Faltantes!',
                        text: 'Rellene los campos faltantes!!!',
                        icon: 'error',
                        confirmButtonText: "Aceptar",
                    }).then(() => {
                    });
                    //es receta
                }
            }
        }
        // function validarcantidad(id) {
        //     if (id == "") {

        //     } else {
        //         $.ajax({
        //             url: "/buscar",
        //             type: "POST",
        //             data: {
        //                 id: id,
        //                 flag: "cantidad"
        //             },
        //             success: function (response) {
        //                 Swal.fire({
        //                     title: 'Producto Eliminado!',
        //                     text: 'Gracias por preferirnos!!!',
        //                     icon: 'success',
        //                     confirmButtonText: "Aceptar",
        //                 }).then(() => {

        //                     buscarproducto($('#buscprod').val());
        //                 });
        //             },
        //             error: function (error) {
        //                 //console.log(error);
        //             },
        //         });
        //     }
        // }
        // $("#cant").keyup(function () {

        //     validarcantidad($('#cant').val());
        // });
    </script>
    {%endblock%}
</body>


</html>