<!DOCTYPE html>
{% extends "sistema/layout-sistema.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Usuarios</title>
</head>

<body>

    {% block content %}
    <div class="admin">
        <div class="main-top">
            <h1>Registro Usuario</h1>
            <i class="fas fa-user-cog"></i>
        </div>
        <div class="table">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Id usuario</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono Fijo</th>
                        <th>Celular</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in user%}
                    <tr>
                        <td>{{list.Id_Usuario}}</td>
                        <td>{{list.Nombres}}</td>
                        <td>{{list.Apellidos}}</td>
                        <td>{{list.TelefonoFijo}}</td>
                        <td>{{list.Celular}}</td>
                        <td>{{list.Direccion}}</td>
                        <td>{{list.NombreEstado}}</td>
                        <td>{{list.Usuario}}</td>
                        <td>{{list.NombreRol}}</td>
                        <td><button class="btn btn-outline-light" id="act" name="act" value="{{list.Id_Usuario}}">
                                <box-icon type='solid' name='edit-alt'></box-icon>
                            </button></td>
                        <td><button class="btn btn-outline-light" id="elim" name="elim" value="{{list.Id_Usuario}}">
                                <i class="bi bi-x-circle" style="color: red;"></i>
                            </button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <input id="launch" type="hidden" data-toggle="modal" data-target=".bd-example-modal-lg">
        <div id="cont"></div>

        <br>
    </div>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        $("#table_id button[name=act]").click(function () {
            id = $(this).val();
            $.ajax({
                url: "/actusu",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (response) {
                    $('#cont').html(response);
                    $('#cont').append(response.htmlresponse);
                    $('#launch').click();
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        });
        $("#table_id button[name=elim]").click(function () {
            id = $(this).val();
            $.ajax({
                url: "/elimusu",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (response) {
                    let timerInterval
                    Swal.fire({
                        title: 'Eliminando!',
                        html: '',
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 3000)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            console.log('I was closed by the timer')
                        }
                    })
                    window.location = '../usuario'
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        });

    </script>

    {%endblock%}
</body>


</html>