<!DOCTYPE html>
{% extends "sistema/layout-sistema.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clientes</title>
</head>

<body>

    {% block content %}
    <div class="top-bar"><i class="fas fa-bars menu"></i><label class="titulo-logo">Buen Productor > Clientes</label>
    </div>

    <div class="" style="padding: 20px;">

        <!-- <div class="row mb-4">
            <div class="col">
                <h1>Registro Usuario</h1>
            </div>
            <div class="col-2">
                <button class="btn btn-success" onclick="agregar()"><i class="bi bi-person-plus-fill"></i>
                    Añadir</button>
            </div>
        </div> -->

        <div class=" p-3 overflow-scroll" style="background-color: white; border-radius: 3px;">
            <table id="table_id" class="table table-hover display bg-light">
                <thead class="table-dark">
                    <tr>

                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in user%}
                    <tr>
                        <td>{{list.num_cliente}}</td>
                        <td>{{list.nombres_cliente}}</td>
                        <td>{{list.apellidos_cliente}}</td>
                        <td>{{list.direccion_cliente}}</td>
                        <td>{{list.NombreEstado}}</td>
                        <td>{{list.usuario}}</td>
                        {%if list.rol == 1%}
                        <td>ADMINISTRADOR</td>
                        {%elif list.rol == 2%}
                        <td>CLIENTE</td>
                        {%elif list.rol == 3%}
                        <td>VETERINARIO</td>
                        {%endif%}
                        <td><button class="btn btn-outline-light" id="act" name="act" value="{{list.num_cliente}}">
                                <box-icon type='solid' name='edit-alt'></box-icon>
                            </button></td>
                        <td><button class="btn btn-outline-light" id="elim" name="elim" value="{{list.num_cliente}}">
                                <i class="bi bi-x-circle" style="color: red;"></i>
                            </button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

        <input id="launch" type="hidden" data-bs-toggle="modal" data-bs-target="#modalusuario">
        <div id="cont"></div>

        <br>
    </div>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                lengthChange: false,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                info: false,
                "initComplete": function (settings, json) {
                    $('<button/>', {
                        id: 'miBoton',
                        text: 'Añadir   ',
                        class: 'btn btn-success me-2',
                        html: '<i class="fas fa-plus"></i> Añadir ',
                        click: function () {
                            // acción del botón
                            agregar();
                        }
                    }).appendTo('.dataTables_filter');
                }
            });





        });
        $("#table_id button[name=act]").click(function () {
            id = $(this).val();
            $.ajax({
                url: "/actusu",
                type: "POST",
                data: {
                    id: id,
                    accion: "actualizar",
                    tabla: "cliente",
                },
                success: function (response) {
                    $('#cont').html(response);
                    $('#cont').append(response.htmlresponse);
                    $('#launch').click();
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        });
        $("#table_id button[name=elim]").click(function () {
            id = $(this).val();
            $.ajax({
                url: "/elimusu",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (response) {
                    let timerInterval
                    Swal.fire({
                        title: 'Eliminando!',
                        html: '',
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 3000)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            window.location = '../usuario'
                        }
                    })

                },
                error: function (error) {
                    //console.log(error);
                },
            });
        });
        function agregar() {
            $.ajax({
                url: "/actusu",
                type: "POST",
                data: {
                    accion: "agregar",
                },
                success: function (response) {
                    $('#cont').html(response);
                    $('#cont').append(response.htmlresponse);
                    $('#launch').click();
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        }
    </script>

    {%endblock%}
</body>


</html>