{% extends "layout-web.html" %}
{% block cliente %}
<h1 class="heading"> Sus <span> Consultas </span> </h1>
{%for list in cons%}
<input type="hidden" class="extraer" value="{{list.Fecha}}">
{%endfor%}
<style>
    .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard a {
        font-size: 20px !Important;
    }


    .fc .fc-button-group>.fc-button {
        position: relative;
        flex: 1 1 auto;
        height: 50px;
        width: 70px;
        background-color: #130f40;
    }

    .fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 50px;
        width: 70px;
        background-color: #130f40;
    }

    .fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
        margin-left: 0.75em;
        background-color: #130f40;
        height: 50px;
        width: 70px;
    }
</style>
<div class="box-container">

    <div id="calendario-cliente">
    </div>
</div>
<script>
    var consultas = new Array()
    var ret = new Array()
    function aleatorio(inferior, superior) {
        numPosibilidades = superior - inferior
        aleat = Math.random() * numPosibilidades
        aleat = Math.floor(aleat)
        return parseInt(inferior) + aleat
    }
    function color() {
        hexadecimal = new Array("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F")
        color_aleatorio = "#";
        for (i = 0; i < 6; i++) {
            posarray = aleatorio(0, hexadecimal.length)
            color_aleatorio += hexadecimal[posarray]
        }
        console.log(color_aleatorio)
        return color_aleatorio
    }
    function cargareventos() {
        var elementos = $('.extraer')
        $.each(elementos, (index, value) => {

            consultas.push(
                {
                    title: "Consulta",
                    start: (value.value),
                    end: (value.value),
                    backgroundColor: '#e67e22',
                    borderColor: '#130f40'
                }
            )

        });
        console.log(JSON.stringify(consultas))
        ret = JSON.stringify(consultas)
    }

    function cale() {
        cargareventos()
        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date1 = new Date()
        var d1 = date1.getDate(),
            m1 = date1.getMonth(),
            y1 = date1.getFullYear()

        var Calendar1 = FullCalendar.Calendar;
        var calendarEl1 = document.getElementById('calendario-cliente');
        console.log(ret.concat(","))
        // initialize the external events
        // -----------------------------------------------------------------
        var calendar1 = new Calendar1(calendarEl1, {

            buttonText: {
                prevYear: 'prev year',
                nextYear: 'next year',
                year: 'year',
                today: 'Hoy',
                month: 'Mes',
                day: 'Dia',
                list: 'list',
            },
            locale: 'es',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridDay'
            },

            //Random default events
            events: consultas


        });

        calendar1.render();
        // $('#calendario-cliente').fullCalendar()

    }

    cale();



</script>
{%endblock%}