{%if info == "agregar"%}
<div class="modal fade" id="modalusuario" data-bs-focus="true" tabindex="-1" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header encabezado_modales">
                <h5 class="modal-title">Agregar</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="cliente-nuevo fondo-modal" id="clientenuevo" style="display: block; padding: 15px 15px;">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                    <div class="col-4 p-5">
                        <div class="row justify-content-center">
                            <img src="../../../static/img/user-default-icon.png"
                                alt=""  class="img-portada">
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-outline-warning">Editar Imagen</button>
                            <button class="btn btn-outline-success mt-2" onclick="añadir()" id="boton-enviar"
                                disabled>Guardar</button>
                        </div>
                        <hr>
                        <div class="row overflow-auto contenedor-tabla">
                            <table class="table table-dark table-striped ">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Mascota</th>
                                        <th><i class="fas fa-plus" style="color: #248029;"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>250</td>
                                        <td>Paquito</td>
                                        <td><i class="fas fa-eye fa-sm" style="color: #005eff;"></i></td>
                                    </tr>
                                    <tr>
                                        <td>250</td>
                                        <td>Paquito</td>
                                        <td><i class="fas fa-eye fa-sm" style="color: #005eff;"></i></td>
                                    </tr>
                                    <tr>
                                        <td>250</td>
                                        <td>Paquito</td>
                                        <td><i class="fas fa-eye fa-sm" style="color: #005eff;"></i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                   
                    </div>
                    <div class="col-8 overflow-auto" style="height: 78vh;">
                        <div class="row justify-content-center titulos-modal-columna">Datos del Usuario</div>
                        <div class="row mb-4">
                            <input type="hidden" name="id">
                            <div class="col mt-5">

                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombres</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="nombre"
                                            placeholder="Nombres">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Apellidos</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="apellido"
                                            placeholder="Apellidos">
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row mb-4">

                            <div class="col">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Correo</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="correo"
                                            placeholder="Correo">
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row mb-4">

                            <div class="col">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Rol</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" id="rol" name="rol">
                                            <option value="1">Administrador</option>
                                            <option value="2">Usuario</option>
                                            <option value="3">Veterinario</option>
                                        </select>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row mb-4">

                            <div class="col">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="direccion" maxlength="50" required
                                                id="direccion" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col" id="div-cambio"><label for=""><input type="checkbox" name="cambio">
                                    Personalizar
                                    Credenciales</label></div>

                        </div>
                        <div class="row mb-4 hidden" id="credenciales" style="display: none;">

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <input type="text" id="usuario" name="usuario" placeholder="Ingrese el Usuario" required class="form-control" />
                                    <label id="mensaje_error_usu" class="control-label col-md-12 text-danger"
                                        style="display: block;">El
                                        usuario ya existe</label>
                                </div>
                            </div>


                            <div class="form-group row mt-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                                <div class="col-sm-10">
                                    <input type="text" id="contra" name="contra" placeholder="Contraseña nueva"
                                        class="form-control" />
                                    <label id="mensaje_error" class="control-label col-md-12 text-danger"
                                        style="display: block;">Las
                                        constraseñas no coinciden</label>
                                    <label id="passstrength" class="control-label col-md-12 text-danger"
                                        style="display: block;">Las
                                        constraseñas no coinciden</label>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                                <div class="col-sm-10">
                                    <input type="text" id="contra1" name="contra1"
                                        placeholder="Repita la contraseña" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Submit button -->


            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mensaje_error').hide();
        $('#mensaje_error_usu').hide();
        $('#mensaje_error_input').hide();
        $('#passstrength').hide();
        $('#mensaje_error_input_a').hide();

        $('#usuario').hide();
        $('#contra').hide();
        $('#contra1').hide();
        $('#div-cambio input[name=cambio]').on('click', function () {
            if ($(this).is(':checked')) {
                // Hacer algo si el checkbox ha sido seleccionado
                $('#generar').prop("disabled", true);
                $('#generar').prop("checked", false);
                $('#credenciales').show();
                $('#usuario').show();
                $('#contra').show();
                $('#contra1').show();
                $('#usuario').attr("required", true);
                $('#contra').attr("required", true);
                $('#contra1').attr("required", true);
                var cambioDePass = function () {
                    var cont = $('#contra').val();
                    var cont2 = $('#contra1').val();
                    if (cont == "") {
                        $('#mensaje_error').hide();
                        $('#passstrength').hide();
                    } else if (cont == cont2) {
                        $('#mensaje_error').hide();
                        $('#mensaje_error').attr("class", "control-label col-md-12 text-success");
                        $('#mensaje_error').show();
                        $('#passstrength').show();
                        $('#mensaje_error').html("Las constraseñas si coinciden");
                        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
                        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
                        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
                        if (false == enoughRegex.test(cont)) {
                            $('#passstrength').html('Más caracteres.');
                        } else if (strongRegex.test(cont)) {
                            $('#passstrength').className = 'ok';
                            $('#passstrength').attr("class", "control-label col-md-12 text-success");
                            $('#passstrength').html(' Contraseña es fuerte!');
                            $('#passstrength').show();
                        } else if (mediumRegex.test(cont)) {
                            $('#passstrength').className = 'alert';
                            $('#passstrength').attr("class", "control-label col-md-12 text-warning");
                            $('#passstrength').html('Contraseña es media!');
                            $('#passstrength').show();
                        } else {
                            $('#passstrength').className = 'error';
                            $('#passstrength').show();
                            $('#passstrength').attr("class", "control-label col-md-12 text-danger");
                            $('#passstrength').html('Contraseña es débil!');

                        }
                        $('#boton-enviar').removeAttr("disabled");
                    } else {
                        $('#mensaje_error').html("Las constraseñas no coinciden");
                        $('#mensaje_error').attr("class", "control-label col-md-12 text-danger");
                        $('#mensaje_error').show();
                        $('#boton-enviar').attr("disabled", true);
                    }
                }

                $("#contra").on('keyup', cambioDePass);
                $("#contra1").on('keyup', cambioDePass);

                var cambioDeus = function () {
                    var usuario = $('#usuario').val();

                    $.ajax({
                        url: "/buscarusu",
                        type: "POST",
                        data: {
                            usuario: usuario,

                        },
                        success: function (response) {
                            if (response == "no existe") {
                                $('#mensaje_error_usu').hide();
                                $('#mensaje_error_usu').attr("class", "control-label col-md-12 text-success");
                                $('#mensaje_error_usu').show();
                                $('#mensaje_error_usu').html("Usuario Válido");
                                $('#boton-enviar').removeAttr("disabled");

                            } else {
                                $('#mensaje_error_usu').html("El usuario ya existe");
                                $('#mensaje_error_usu').attr("class", "control-label col-md-12 text-danger");
                                $('#mensaje_error_usu').show();
                                $('#boton-enviar').attr("disabled", true);
                                if (usuario == "") {
                                    $('#mensaje_error_usu').hide();
                                }
                            }
                        },
                        error: function (error) {
                            //console.log(error);
                        },
                    });

                }

                $("#usuario").on('keyup', cambioDeus);

            } else {
                // Hacer algo si el checkbox ha sido deseleccionado
                $('#generar').prop("disabled", false);
                $('#credenciales').hide();
                $('#usuario').hide();
                $('#contra').hide();
                $('#contra1').hide();

            }
            // $('#div-generar input[name=generar]').on('click', function () {
            //     if ($(this).is(':checked')) {
            //         // Hacer algo si el checkbox ha sido seleccionado
            //         $.ajax({
            //             url: "/generar",
            //             type: "POST",
            //             data: {
            //                 nombre: $('#nombre').val(),
            //                 apellido: $('#apellido').val(),
            //                 telfijo: $('#telfijo').val(),
            //                 celular: $('#celular').val(),
            //                 direccion: $('#direccion').val(),
            //                 nombre: $('#nombre').val(),
            //             },
            //             success: function (response) {
            //                 $('#cont').html(response);
            //                 $('#cont').append(response.htmlresponse);
            //                 $('#launch').click();
            //             },
            //             error: function (error) {
            //                 //console.log(error);
            //             },
            //         });



            //         $('#credenciales').show();
            //         $('#usuario').show();
            //         $('#contra').show();
            //         $('#contra1').show();
            //         $('#usuario').attr("required", true);
            //         $('#contra').attr("required", true);
            //         $('#contra1').attr("required", true);
            //         var cambioDePass = function () {
            //             var cont = $('#contra').val();
            //             var cont2 = $('#contra1').val();
            //             if (cont == cont2) {
            //                 $('#mensaje_error').hide();
            //                 $('#mensaje_error').attr("class", "control-label col-md-12 text-success");
            //                 $('#mensaje_error').show();
            //                 $('#mensaje_error').html("Las constraseñas si coinciden");
            //                 $('#boton-enviar').removeAttr("disabled");
            //             } else {
            //                 $('#mensaje_error').html("Las constraseñas no coinciden");
            //                 $('#mensaje_error').attr("class", "control-label col-md-12 text-danger");
            //                 $('#mensaje_error').show();
            //                 $('#boton-enviar').attr("disabled", true);
            //             }
            //         }

            //         $("#contra").on('keyup', cambioDePass);
            //         $("#contra1").on('keyup', cambioDePass);

            //     } else {
            //         // Hacer algo si el checkbox ha sido deseleccionado
            //         $('#generar').prop("disabled", false);
            //         $('#credenciales').hide();
            //         $('#usuario').hide();
            //         $('#contra').hide();
            //         $('#contra1').hide();

            //     }
            // })

        });
        document.getElementById("nombre").addEventListener("input", (e) => {
            let value = e.target.value;
            e.target.value = value.replace(/[^a-z-A-Z- -]/, "");
            var nombre = $('#nombre').val();
            var resu = validarnombre(nombre);

            if (resu == 1) {
                $('#mensaje_error_input').html("El nombre esta vacio");
                $('#mensaje_error_input').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input').show();
                $('#boton-enviar').attr("disabled", true);
            } else if (resu == 2) {
                $('#mensaje_error_input').html("El nombre deb tener al menos 3 caracteres");
                $('#mensaje_error_input').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input').show();
                $('#boton-enviar').attr("disabled", true);
            } else if (resu == 3) {
                $('#mensaje_error_input').html("El nombre no debe tener caracteres raros");
                $('#mensaje_error_input').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input').show();
                $('#boton-enviar').attr("disabled", true);
            } else {
                $('#mensaje_error_input').hide();
            }
        });
        document.getElementById("apellido").addEventListener("input", (e) => {
            let value = e.target.value;
            e.target.value = value.replace(/[^a-z-A-Z- -]/, "");
            var nombre = $('#apellido').val();
            $('#mensaje_error_input_a').hide();
            var resu = validarnombre(nombre);
            if (resu == 1) {
                $('#mensaje_error_input_a').html("El apellido esta vacio");
                $('#mensaje_error_input_a').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input_a').show();
                $('#boton-enviar').attr("disabled", true);
            } else if (resu == 2) {
                $('#mensaje_error_input_a').html("El apellido deb tener al menos 3 caracteres");
                $('#mensaje_error_input_a').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input_a').show();
                $('#boton-enviar').attr("disabled", true);
            } else if (resu == 3) {
                $('#mensaje_error_input_a').html("El nombre no debe tener caracteres raros");
                $('#mensaje_error_input_a').attr("class", "control-label col-md-12 text-danger");
                $('#mensaje_error_input_a').show();
                $('#boton-enviar').attr("disabled", true);
            } else {
                $('#mensaje_error_input_a').hide();
            }
        });
        document.getElementById("telfijo").addEventListener("input", (e) => {
            let value = e.target.value;
            e.target.value = value.replace(/[^0-9]/, "");
        });
        document.getElementById("celular").addEventListener("input", (e) => {
            let value = e.target.value;
            e.target.value = value.replace(/[^0-9]/, "");
        });

        $('#contra').keyup(function (e) {

            return true;
        });


    });

    function añadir() {
        alert("ENTRO A LA FUNCION")
        $.ajax({
            url: "/nuevou",
            type: "POST",
            data: {
                nombres: $('#nombre').val(),
                apellidos: $('#apellido').val(),
                correo: $('#correo').val(),
                direccion: $('#direccion').val(),
                loginUser: $('#usuario').val(),
                loginPassword: $('#contra').val(),
                rol: $('#rol').val(),
                flag: "sistema",
            },
            success: function (response) {
                // $.ajax({
                //     url: "/correo",
                //     type: "POST",
                //     data: {
                //         flag: "usuario",
                //         nombres: $('#nombre').val(),
                //         apellidos: $('#apellido').val(),
                //         correo: $('#correo').val(),
                //         loginUser: $('#usuario').val(),
                //         loginPassword: $('#contra').val()
                //     },
                //     success: function (response) {
                //         Swal.fire({
                //             title: 'Usuario Registrado Correctamente!',
                //             text: 'Se envio un correo con las credenciales al ' + $('#correo').val(),
                //             icon: 'success',
                //             confirmButtonText: "Aceptar",
                //         }).then(() => {
                //             window.location = '../usuario'
                //         });

                //     },
                //     error: function (error) {
                //         //console.log(error);
                //     },
                // });
                alert("GG");
            },
            error: function (error) {
                //console.log(error);
            },
        });
    }
</script>
{%elif info == "producto"%}
<div class="modal fade bd-example-modal-lg" id="modalusuario" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añada Orientaciones</h5>
                <button type="button" id="cerrarmodal" class="btn btn-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="medicamento">
            <div class="modal-body">
                {%for i in receta%}
                <div class="row justify-content-around">
                    <div class="col" style="margin: 20px;">
                        <label class="labels" for="receta">Orientaciones:</label>
                        <br>
                        <textarea class="textarea" name="receta" placeholder="Escriba las Orientaciones..." id="receta"
                            cols="80" rows="10">{{i.Pasos}}</textarea>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="modal-footer">
                <button onclick="receta()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
{%else%}
<div class="modal fade bd-example-modal-lg" id="modalusuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header encabezado_modales">
                <h5 class="modal-title">Actualizar</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="cliente-nuevo fondo-modal" id="clientenuevo" style="display: block; padding: 15px 15px;">
                <form action="/actualizaremp" method="POST" id="okis">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    {%if tabla == 'veterinario'%}
                    {%for list in info%}
                    <div class="row mb-4">
                        <input type="hidden" name="id" value="{{list.num_veterinario}}">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example1">Nombres</label>
                                <input type="text" id="form3Example1" name="nombre" required value="{{list.nom_vet}}"
                                    class="form-control" />
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Celular</label>
                                <input type="text" id="form3Example3" name="celular" required
                                    value="{{list.cel_vet}}" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Estado</label>
                                <input type="text" id="form3Example3" name="estado" required
                                    value="{{list.NombreEstado}}" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Rol</label>
                                <input type="text" id="form3Example3" name="rol" required
                                    value="{{list.rol}}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Correo</label>
                                <input type="text" id="form3Example3" name="correo" required
                                    value="{{list.correo_vet}}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Dirección</label>
                            <textarea class="form-control" name="direccion" required id="exampleFormControlTextarea1"
                                rows="3">{{list.dir_vet}}</textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for=""><input type="checkbox" name="cambio"> Cambiar Credenciales</label>
                    </div>
                    <div class="row mb-4" id="credenciales" style="display: none;">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Usuario</label>
                            <input type="text" id="usuario" name="usuario" required value="{{list.usuario}}"
                                class="form-control" />

                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Contraseña</label>
                            <input type="text" id="contra" name="contra" placeholder="Contraseña nueva"
                                class="form-control" />

                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Contraseña</label>
                            <input type="text" id="contra1" name="contra1" placeholder="Repita la contraseña"
                                class="form-control" />
                            <label id="mensaje_error" class="control-label col-md-12 text-danger"
                                style="display: block;">Las
                                constraseñas no coinciden</label>

                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">
                        ENVIAR
                    </button>
                    {%endfor%}
                    {%elif tabla == 'cliente'%}
                    {%for list in info%}
                    <div class="row mb-4">
                        <input type="hidden" name="id" value="{{list.num_cliente}}">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example1">Nombres</label>
                                <input type="text" id="form3Example1" name="nombre" required value="{{list.nombre}}"
                                    class="form-control" />
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mb-4">
                        
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Estado</label>
                                <input type="text" id="form3Example3" name="estado" required
                                    value="{{list.NombreEstado}}" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Rol</label>
                                <input type="text" id="form3Example3" name="rol" required
                                    value="{{list.rol}}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form3Example3">Correo</label>
                                <input type="text" id="form3Example3" name="correo" required
                                    value="{{list.correo_cliente}}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Dirección</label>
                            <textarea class="form-control" name="direccion" required id="exampleFormControlTextarea1"
                                rows="3">{{list.direccion_cliente}}</textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for=""><input type="checkbox" name="cambio"> Cambiar Credenciales</label>
                    </div>
                    <div class="row mb-4" id="credenciales" style="display: none;">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Usuario</label>
                            <input type="text" id="usuario" name="usuario" required value="{{list.usuario}}"
                                class="form-control" />

                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Contraseña</label>
                            <input type="text" id="contra" name="contra" placeholder="Contraseña nueva"
                                class="form-control" />

                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Contraseña</label>
                            <input type="text" id="contra1" name="contra1" placeholder="Repita la contraseña"
                                class="form-control" />
                            <label id="mensaje_error" class="control-label col-md-12 text-danger"
                                style="display: block;">Las
                                constraseñas no coinciden</label>

                        </div>
                    </div>
                    {%endfor%}
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">
                        ENVIAR
                    </button>
                    
                    {%endif%}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mensaje_error').hide();
        $('#usuario').hide();
        $('#contra').hide();
        $('#contra1').hide();
        $('#okis input[name=cambio]').on('click', function () {
            if ($(this).is(':checked')) {
                // Hacer algo si el checkbox ha sido seleccionado
                $('#credenciales').show();
                $('#usuario').show();
                $('#contra').show();
                $('#contra1').show();
                $('#usuario').attr("required", true);
                // $('#contra').attr("required", true);
                // $('#contra1').attr("required", true);
                var cambioDePass = function () {
                    var cont = $('#contra').val();
                    var cont2 = $('#contra1').val();
                    if (cont == cont2) {
                        $('#mensaje_error').hide();
                        $('#mensaje_error').attr("class", "control-label col-md-12 text-success");
                        $('#mensaje_error').show();
                        $('#mensaje_error').html("Las constraseñas si coinciden");
                        $('#boton-enviar').removeAttr("disabled");
                    } else {
                        $('#mensaje_error').html("Las constraseñas no coinciden");
                        $('#mensaje_error').attr("class", "control-label col-md-12 text-danger");
                        $('#mensaje_error').show();
                        $('#boton-enviar').attr("disabled", true);
                    }
                }

                $("#contra").on('keyup', cambioDePass);
                $("#contra1").on('keyup', cambioDePass);

            } else {
                // Hacer algo si el checkbox ha sido deseleccionado
                $('#credenciales').hide();
                $('#usuario').hide();
                $('#contra').hide();
                $('#contra1').hide();

            }
        })

    });

</script>
{%endif%}