<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogDeCafé</title>
    <meta name="description" content="Página web de blog de café">

    <!-- Prefetch -->
    <link rel="prefetch" href="../template/nosotros.html" as="document">

    <!-- Preload -->
    <link rel="preload" href="../static/normalize.css" as="style">
    <link rel="stylesheet" href="../static/normalize.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"  crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preload" href="../static/style.css" as="style">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/whatsAap.css">
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=81654742&text=Quisiera%20obtener%20informacion%20acerca%20de%20la%20veterinaria" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../template/index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Veterinaria<span class="logo__bold">El Buen productor</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="../template/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="../template/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="../template/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Veterinaria El buen productor</h2>
            <p class="no-margin">Somos una clínica especializada al bienestar animal, al cuidado de tus mascotas con el mejor servicio medico veterinario<br> dando una atención personalizada para cada paciente</p>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="blog">
            <!-- <h3>Nuestro Blog</h3>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <source loading="lazy"  srcset="img/blog1.webp" type="image/webp">
                        <img loading="lazy" src="img/blog1.jpg" alt="imagen blog"> 
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Tipos de Grano de Café</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <source loading="lazy"  srcset="img/blog2.webp" type="image/webp">
                        <img loading="lazy" src="img/blog2.jpg" alt="imagen blog"> 
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">3 Deliciosas Recetas de Café</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <source loading="lazy"  srcset="img/blog3.webp" type="image/webp">
                        <img loading="lazy" src="img/blog3.jpg" alt="imagen blog"> 
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Beneficios del Café</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article> -->
        </main>
        <aside class="sidebar">
            <h3>Horarios de atencion  </h3>

            <ul class="cursos no-padding">
                <li class="widget-curso">
                    <h4 class="no-margin">Sucursal - Mercado Ernesto Fernandez</h4>
                    <p class="widget-curso__label">Lunes - Viernes: 
                        <span class="widget-curso__info">8:00 AM - 5:00 PM</span>
                    </p>
                    <p class="widget-curso__label">Sábado: 
                        <span class="widget-curso__info">10:00 AM - 5:00 PM</span>
                    </p>
                    <!-- <a href="entrada.html" class="boton boton--secundario">AGENDAR CITAS</a> -->
                </li>

                <li class="widget-curso">
                    <h4 class="no-margin">Sucursal - Calle Limon </h4>
                    <p class="widget-curso__label">Lunes - Viernes: 
                        <span class="widget-curso__info">8:00 AM - 5:00 PM</span>
                    </p>
                    <p class="widget-curso__label">Sábado: 
                        <span class="widget-curso__info">10:00 AM - 5:00 PM</span>
                    </p>
                    <a href="../template/contacto.html" class="boton boton--secundario">AGENDAR CITAS </a>
                </li>
                <div>
                    <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.7484891940842!2d-86.08630671382889!3d11.974919700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f74098f30488c73%3A0xfaa51062de063583!2sVeterinaria%20el%20buen%20productor!5e0!3m2!1ses-419!2sni!4v1660765383070!5m2!1ses-419!2sni" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                </div>
                
                
            </ul>
        </aside>
    </div>
    
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../template/index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">DeCafé</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="../template/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="../template/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="../template/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
<!--     
    <script src="js/modernizr.js"></script> -->
</body>
</html>